.cart{
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12), 0 5px 20px rgba(0, 0, 0, 0.24);
	max-width: 13.25%;
	font-size: 30px;
	text-align: center;
}
.price{
	color: red;
	font-size: 22px;
	margin-bottom: -2rem;
}
h4{
	text-align: center;
	margin-bottom: -1rem;
	margin-top: -0.5rem;
}
img{
	width: 100%;
}
h1{
	text-align: center;
}
.bttn{
	padding-bottom: 1rem;
}